@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");

* {
  /* css reset */
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h3,
h4 {
  font-family: "Lora", serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 2;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav a span {
  font-size: 1.3em;
  font-family: "Lora", serif;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: #207899;
}

nav a img {
  width: 50px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
}

nav ul a {
  color: black;
  font-size: 0.9rem;
  margin: 0 20px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

nav ul a:hover {
  opacity: 0.5;
}

nav > section {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

header img[alt="blob wallpaper"] {
  position: absolute;
  z-index: -1;
  top: -155px;
  right: 482px;
  width: 64%;
  transform: rotate(-61deg);
}

aside:first-child {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside:first-child a {
  color: #ccc;
  text-decoration: none;
  margin-right: 500px;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

aside:first-child img {
  width: 80%;
}

aside:last-child {
  width: 30%;
  display: flex;
  flex-direction: column;
}

header aside:last-child h1 {
  font-size: 4rem;
}

header aside:last-child h2 {
  width: 90%;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-left: 1px;
}

section:nth-child(4) {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 1.1fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "two one three"
    "five one four"
    "five six six";
  height: 100%;
  margin: 0 100px;
  margin-bottom: 100px;
}

section h3 {
  font-size: 2em;
  text-align: center;
  padding: 30px;
  border-top: 1px solid black;
}

section article {
  margin: 20px;
}

section article p {
  line-height: 2rem;
  text-align: justify;
}

section article p:nth-child(4) {
  margin-top: 50px;
}

section article a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #207899;
}

article:nth-child(1) {
  grid-area: one;
}
article:nth-child(1) img {
  display: block;
  margin: 0 auto;
}

article:nth-child(2) {
  grid-area: two;
}
article:nth-child(3) {
  grid-area: three;
}
article:nth-child(4) {
  grid-area: four;
}
article:nth-child(5) {
  grid-area: five;
}
article:nth-child(6) {
  grid-area: six;
}

aside {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

aside > article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside > h3 {
  font-size: 2rem;
}
aside > article > img {
  width: 50%;
}

aside > article > a {
  text-decoration: none;
  background: #207899;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  letter-spacing: 1px;
  border: 1px solid #207899;
  font-size: 0.9rem;
  margin: 20px;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

aside > article > a:hover {
  color: #207899;
  border: 1px solid #207899;
  background: transparent;
}

footer {
  display: flex;
  margin-bottom: 0;
  font-size: 0.9rem;
  height: 100px;
}

footer section:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(215, 215, 215, 0.5);
  width: 65%;
  margin: 0;
}

footer section:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin: 0;
  background: rgba(235, 235, 235, 0.5);
}

@media (max-width: 1179px) {
  section:nth-child(4) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "one two"
      "three five"
      "six six";
  }

  article:nth-child(4) {
    display: none;
  }

  section article p:nth-child(4) {
    display: none;
  }

  aside > article:last-child {
    display: none;
  }

  footer section:first-child {
    width: 50%;
  }

  footer section:last-child {
    width: 50%;
  }

  header img[alt="blob wallpaper"] {
    top: -122px;
    right: 292px;
    width: 81%;
  }
}

@media (max-width: 600px) and (min-width: 400px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 20px;
  }

  nav ul:nth-child(2) {
    display: none;
  }

  nav > section {
    display: inherit;
  }

  nav > section > input {
    visibility: hidden;
  }

  nav > section > label > img {
    width: 50px;
  }

  nav > section > label > img:hover {
    cursor: pointer;
  }

  nav > section > ol > li {
    list-style-type: none;
    display: none;
  }

  nav > section > input:checked ~ ol > li {
    display: inherit;
    right: 0;
    top: 100px;
    animation: fade 1s ease;
  }

  nav > section > ol {
    position: absolute;
    width: 60%;
    border-radius: 10px;
    margin-top: 60px;
    right: 10px;
    background: #207899;
  }

  nav > section > ol > li > a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }

  nav > section > ol > li > a:hover {
    color: #ccc;
  }

  header > aside:first-child {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  aside:first-child a {
    margin: 0;
  }

  header > aside:last-child {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }

  header aside:last-child h2 {
    width: 100%;
  }

  section:nth-child(4) {
    display: flex;
    padding: 0;
    flex-direction: column-reverse;
    margin: 0;
  }

  article:nth-child(6) {
    display: none;
  }
  article:nth-child(4) {
    display: none;
  }

  aside > article:last-child {
    display: inherit;
  }

  aside {
    flex-direction: column;
  }

  aside article {
    margin: 20px;
  }
}
/* Credits Jelle de Vries */